# ignore the virtual environment
venv/
.venv/
#ignore results files
scripts/results
scripts\results
#ignore pycache
scripts/__pycache__
scripts\__pycache__
scripts/__pycache__/net_scan.cpython-312.pyc
scripts/__pycache__/net_scan.cpython-312.pyc
/scripts/__pycache__
scripts/results/latest_nmap_results.txt
scripts/__pycache__/net_scan.cpython-312.pyc
scripts/__pycache__/vuln_scan.cpython-312.pyc
scripts/results/latest_vuln_results.txt
